<div class="myswiper">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/images/swimg1.jpg" alt=""></div>
            <div class="swiper-slide"><img src="/images/swimg2.jpg" alt=""></div>
            <div class="swiper-slide"><img src="/images/swimg3.jpg" alt=""></div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
    <div>
        <a class="a" href=""><span class="describtion">关于我们 | 团队介绍</span></a> 
     </div>
     <div>
         <span class="describtion">MaziYo官网</span>
     </div>
     <div class="describtion">
         <span class="describtion">@2022冀ICP备 18023264号-4</span>
     </div>
</div>
